.coll-item {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  flex-wrap: wrap;
  margin: 0 .5rem;
  width: 25%;
  height: 350px;

  .image {
    width: 100%;
    height: 80%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 5%;
    font-size: 18px;

    .name {
      margin-bottom: 15px;
      width: 90%;
    }

    .price {
      width: 10%;
    }
  }
}

@media only screen and (max-width: 700px) {
  .coll-item {
    margin: 0 .25rem;
    min-width: 164px;
  }
  // .image {max-width: 164px;}
  .footer {justify-content: space-around;}
}
// .coll-item:last-child {
  // margin-right: 0;
// }