.men-itm {
  flex: 1 1 auto;  
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 7.5px 15px;
  min-width: 30%;
  min-width: 300px;
  height: 240px;
  border: 1px solid black;
  overflow: hidden;

  &:hover {
    cursor: pointer;

    & .bg-img {
      transform: scale(1.1);
      transition: transform 3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }

    & .contt {
      opacity: 0.9;
    }
  }

  &.large {
    height: 380px;
  }

  &:first-child {
    margin-right: 7.5px;
  }

  &:last-child {
    margin-left: 7.5px;
  }

  .bg-img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }

  .contt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
    height: 80px;
    border: 1px solid ghostwhite;
    background-color: #4a4a4a;
    opacity: .75;
    position: absolute;
  

    .ttl {
      margin-bottom: 0;
      font-weight: bold;
      font-size: 22px;
      // color: #4a4a4a;
      color: ghostwhite;
    }

    .sbtl {
      padding: 0 15px;
      // border: 1px solid ghostwhite;
      background-color: ghostwhite;
      font-weight: lighter;
      font-size: 16px; 
      color: #4a4a4a;
      transform: translateY(16px);
    }
  }
}